<html>

<head>
    <title>Simple Polished Graphs</title>
</head>

<script src="lib/angular.js"></script>
<script src="lib/ui-bootstrap.js"></script>
<script src="lib/angular-animate.js"></script>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

<!--TD's in your code, using new style sheets-->
<link rel="stylesheet" href="lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">
<link rel="stylesheet" href="lib/stylezz.css">

<script src="lib/jsxgraphcore.js" charset="utf-8"></script>
<!---->
<script src="lib/angular-jsx-graph.js"></script>
<!---->
<link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<link href="lib/jsxgraph.css" rel="stylesheet">

<script src="app.js"></script>
<!---->
<script src="graph.controller.js"></script>
<script src="graph.directive.js"></script>

<script src="subscribe.controller.js"></script>
<script src="subscribe.service.js"></script>

<!---->
<script src="graph.service.js"></script>
<!---->

<style>
    .logo {
        margin-top: 0px;
        margin-left: 0px;
    }
    
    button {
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Dosis';
    }
    
    body {
        background-color: #F5F5F5;
    }
    
    h1 {
        margin-top: 5px;
        margin-left: 5px;
        font-family: 'Lobster';
    }
    
    h4 {
        font-family: 'Dosis';
    }
    
    .w3-lobster {
        font-family: 'Lobster', serif;
    }
    
    .w3-dosis {
        font-family: 'Dosis', serif;
    }
    
    .w3-invisible {
        display: none;
    }
    
    
      .greenTextSmall {
        font-size: 12px !important;
        color: #788e52 !important;
        font-weight: bold !important;
    }
    .greenTextMedium {
        font-size: 18px !important;
        color: #788e52 !important;
        font-weight: bold !important;
    }
    .greenTextLarge {
        font-size: 24px !important;
        color: #788e52 !important;
        font-weight: bold !important;
    }
    
    .purpleTextSmall {
        font-size: 12px !important;
        color: #8d37c4 !important;
        font-weight: bold !important;
    }
      .purpleTextMedium {
        font-size: 18px !important;
        color: #8d37c4 !important;
        font-weight: bold !important;
    }    .purpleTextLarge {
        font-size: 24px !important;
        color: #8d37c4 !important;
        font-weight: bold !important;
    }  
    .blackTextSmall {
        font-size: 12px !important;
        color: #333333 !important;
        font-weight: bold !important;
    }
        .blackTextMedium {
        font-size: 18px !important;
        color: #333333 !important;
        font-weight: bold !important;
    }
        .blackTextLarge {
        font-size: 24px !important;
        color: #333333 !important;
        font-weight: bold !important;
    }
</style>

<body ng-app="app">
    <!--<img src="img/logo.png" class="logo" />-->

    <ul class="w3-navbar w3-theme-d5 w3-top w3-xlarge">
        <li><a class="w3-pink w3-lobster w3-xlarge" href="#">fancygraf</a></li>
        <li class="w3-xlarge"><a class="w3-hover-pink w3-right w3-dosis" href="javascript:void(0)" onclick="w3_restart()">Home</a></li>
        <li class="w3-right w3-xlarge"><a class="w3-hover-pink w3-right w3-dosis" href="javascript:void(0)" onclick="w3_open()">Notes</a></li>
    </ul>

    <!--dropdown notes-->
    <nav class="w3-modal w3-card-2" style="display:none" id="myDropnav">
        <div class="w3-container"></div>
        <div class="w3-row-padding w3-padding-bottom">
            <div class="w3-row-padding">
                <div class="w3-card-2 w3-white w3-round">
                    <ul class="w3-navbar w3-theme-d5 ">
                        <li>
                            <h4 class="w3-padding-left w3-theme-d5">Notes</h4>
                        </li>
                        <li class="w3-right "><span onclick="w3_close()" class="w3-closebtn w3-xxlarge w3-pink" title="Close Menu">&times;</span></li>
                    </ul>
                    <div class="w3-row-padding w3-padding-left">
                        <h2 class="w3-dosis"><strong>How do I make a dashed line?</strong></h2>
                        <p>Change the dash line attribute. 4 should suffice. You may want to play with width and color for empahsis.</p>
                        <pre>{strokeWidth: 3, strokeColor: '#788e52', dash:4, straightFirst:false, straightLast:false,}</pre>
                        <hr>
                        <h2 class="w3-dosis"><strong>Why can't I made a circle?</strong></h2>
                        <p>Cause a circle isn't a function, silly person.</p>
                        <hr>
                        <h2 class="w3-dosis"><strong>How do I setup the axis/grid for box plots? </strong></h2>
                        <p>Thusly: <br /><img src="img/boxplot.jpg" /></p>
                        <p>And set the X Max to something a bit higher than your maximum data point.</p>
                    </div>





                </div>
            </div>
        </div>
    </nav>


    <!--sidenav
<nav class="w3-sidenav w3-white w3-card-4" style="width:20%">
  <a class="w3-hover-pink" href="#">Grid Style</a> 
  <a class="w3-hover-pink" href="#">Line Style</a> 
  <a class="w3-hover-pink" href="#">Create Function</a> 
  <a class="w3-hover-pink" href="#">Create Point</a>
  <a class="w3-hover-pink" href="#">Create Line from Points</a>
  <a class="w3-hover-pink" href="#">Create Inequality from Points</a>
</nav>-->

    <!-- Header -->
    <div class="w3-modal w3-card-2 w3-pink w3-center w3-padding-100" style="display:block" id="loading">
        <a name="top"></a>
        <h1 class="w3-lobster w3-jumbo">fancygraf</h1>
        <p class="w3-large">Graphs so fancy, you'll say "Dang, those are some fancy graphs!"</p>
        <br>
        <div class="w3-row w3-center">
            <img src="img/fancygrafBLACK.png" style="width:15%" class="w3-center logo" />
        </div>
        <br>
        <div class="w3-row">
            <div class="w3-container w3-third"></div>
            <div class="w3-container w3-third">
                <button onclick="w3_start()" class="w3-btn-block w3-theme-d4 w3-round w3-hover-white w3-padding-16 w3-large w3-margin-top">Get Started</button>
                <br />
                <p>Powered by <a href="http://jsxgraph.uni-bayreuth.de/wp/index.html" target="_blank">JSXGraph</a></p>

            </div>
            <div class="w3-container w3-third"></div>
        </div>
        <br><br>
        <div class="container w3-white">
            <br><br>
            <h2 class="w3-lobster w3-xxlarge">The Team</h1>
                <p class="w3-large">The magicians and technicians behind fancygraf</p>
                <br><br>
                <div class="w3-row">
                    <div class="w3-container w3-col m1 l1"></div>
                    <div class="w3-container w3-col s12 m2 l2">
                        <div class="w3-container w3-center">
                            <img src="img/avatar_joe.png" class="w3-circle w3-center" style="width:80%"></img>
                        </div>
                        <h2 class="w3-xlarge w3-lobster">Joe Greaser</h2>
                        <p>Chief Vision Mastermind</p>
                    </div>
                    <div class="w3-container w3-col s12 m2 l2">
                        <div class="w3-container w3-center">
                            <img src="img/avatar_megan.png" class="w3-circle w3-center" style="width:80%"></img>
                        </div>
                        <h2 class="w3-xlarge w3-lobster">Megan Burkett</h2>
                        <p>Content Futurist</p>
                    </div>
                    <div class="w3-container w3-col s12 m2 l2">
                        <div class="w3-container w3-center">
                            <img src="img/avatar_michelle.png" class="w3-circle w3-center" style="width:80%"></img>
                        </div>
                        <h4 class="w3-xlarge w3-lobster">Michelle McRae</h4>
                        <p>Engagement Sage</p>
                    </div>
                    <div class="w3-container w3-col s12 m2 l2">
                        <div class="w3-container w3-center">
                            <img src="img/avatar_mike.png" class="w3-circle w3-center" style="width:80%"></img>
                        </div>
                        <h2 class="w3-xlarge w3-lobster">Mike Jarrell</h2>
                        <p>Mobile Platform Guru</p>
                    </div>
                    <div class="w3-container w3-col s12 m2 l2">
                        <div class="w3-container w3-center">
                            <img src="img/avatar_td.png" class="w3-circle w3-center" style="width:80%"></img>
                        </div>
                        <h2 class="w3-xlarge w3-lobster">TD Haines</h2>
                        <p>Human Experience Minister</p>
                    </div>
                    <div class="w3-container w3-col m1 l1"></div>
                </div>
                <br><br>
                <img src="img/fancygrafGREY.png" style="width:80px" class="w3-center logo" /><br><br>
                <div class="w3-row">
                    <div class="w3-container w3-third"></div>
                    <div class="w3-container w3-third">
                        <a href="#top" class="w3-dosis w3-text-pink w3-large">Back to top of page</a>
                    </div>
                    <div class="w3-container w3-third"></div>
                </div><br><br><br>
        </div>
        <br><br>
        <h2 class="w3-lobster w3-xxlarge">The Future</h2>
        <p class="w3-large">Stay in the loop and get a head start on the new features. Subscribe below!</p>
        <br>
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-containter w3-half">
                <div class="w3-card-4 w3-padding w3-theme-l3">
                    <div ng-controller="subscribeController as subCtrl">
                        <div ng-show="subCtrl.subscribed == false && subCtrl.processing == false">
                            <div class="w3-row">
                                <div class="w3-half w3-padding">
                                    <p><input class="w3-input w3-border-0" type="text" name="first" required ng-model="subCtrl.firstName"><label class="w3-label w3-left w3-validate">First Name</label></p>
                                </div>
                                <div class="w3-half w3-padding">
                                    <p><input class="w3-input w3-border-0" type="text" name="last" ng-model="subCtrl.lastName" required><label class="w3-label w3-left w3-validate">Last Name</label></p>
                                </div>
                            </div>
                            <div class=" w3-padding">



                                <p><input class="w3-input w3-border-0" type="email" ng-model="subCtrl.email" name="email" required><label class="w3-label w3-left w3-validate">Email</label></p>
                                <p><button class="w3-btn-block w3-theme-d4 w3-round w3-hover-pink w3-padding-16 w3-large w3-margin-top" ng-click="subCtrl.subscribe(subCtrl.firstName, subCtrl.lastName, subCtrl.email)">Subscribe</button></p>
                            </div>
                        </div>
                        <div ng-show="subCtrl.processing == true">Processing...</div>

                        <div ng-show="subCtrl.subscribed == true">You are subscribed!</div>
                    </div>
                </div>
            </div>
            <div class="w3-container w3-quarter"></div>
        </div>
        <br><br>
        <div class="w3-row">
            <div class="w3-container w3-third"></div>
            <div class="w3-container w3-third">
                <a href="#top" class="w3-dosis w3-large">Back to top of page</a>
            </div>
            <div class="w3-container w3-third"></div>
        </div>
        <div class="w3-row w3-center">
            <br><br>
            <img src="img/fancygrafBLACK.png" style="width:80px" class="w3-center logo" /><br>
            <p class="w3-text-black w3-small">Another fine Innovation Team product</p>
        </div>
    </div>





    <div class="container" style="height:50px">
    </div>
    <div class="container">
        <div ng-controller="graphController as grphCtrl">
            <div class="w3-row-padding">

                <!--LEFT-->
                <div class="w3-third">
                    <!--Board Attributes-->
                    <h2 class="w3-lobster w3-pink w3-padding-left w3-large">Plan it</h2>
                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left w3-theme-d2" ng-click="grphCtrl.showDiv.boardAttr = !grphCtrl.showDiv.boardAttr"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.boardAttr"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.boardAttr"></i> Change Board Attributes </h4>
                        <div class="w3-padding" ng-show="grphCtrl.showDiv.boardAttr">
                            <div class="w3-row">
                                <div class="w3-quarter"><em>X Min</em><br><input type="text" ng-model="grphCtrl.xmin" size="4"></div>
                                <div class="w3-quarter"><em>X Max</em><br><input type="text" ng-model="grphCtrl.xmax" size="4"></div>
                                <div class="w3-quarter"><em>Y Min</em><br><input type="text" ng-model="grphCtrl.ymin" size="4"></div>
                                <div class="w3-quarter"><em>Y Max</em><br><input type="text" ng-model="grphCtrl.ymax" size="4"></div>
                            </div>
                            <hr>
                            <div class="w3-row">
                                <form>
                                    <div class="w3-row">
                                        <div class="w3-half">
                                            <input class="w3-radio" type="radio" value="true" ng-model="grphCtrl.gridShow" checked>
                                            <label class="w3-validate">Show Grid</label>
                                        </div>
                                        <div class="w3-half">
                                            <input class="w3-radio" type="radio" value="false" ng-model="grphCtrl.gridShow">
                                            <label class="w3-validate">Hide Grid</label>
                                        </div>
                                    </div>
                                </form>
                                <hr />
                                <form>
                                    <div class="w3-row">
                                        <div class="w3-half">
                                            <input class="w3-radio" type="radio" value="true" ng-model="grphCtrl.axisShow" checked>
                                            <label class="w3-validate">Show Axis</label>
                                        </div>
                                        <div class="w3-half">
                                            <input class="w3-radio" type="radio" value="false" ng-model="grphCtrl.axisShow">
                                            <label class="w3-validate">Hide Axis</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="w3-btn-block w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.updateBoardAttributes('default')">Update Board Attributes</button>
                        </div>
                    </div>
                    <!--Line Attributes-->
                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left w3-theme-d2" ng-click="grphCtrl.showDiv.lineAttr = !grphCtrl.showDiv.lineAttr"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.lineAttr"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.lineAttr"></i> Change line attributes </h4>
                        <div class="w3-padding" ng-show="grphCtrl.showDiv.lineAttr">
                            <form>
                                <div class="w3-row">
                                    <div class="w3-third">
                                        <input class="w3-radio" type="radio" value="#788e52" ng-model="grphCtrl.lineColor" checked>
                                        <label class="w3-validate">Green</label>
                                    </div>
                                    <div class="w3-third">
                                        <input class="w3-radio" type="radio" value="#8d37c4" ng-model="grphCtrl.lineColor">
                                        <label class="w3-validate">Purple</label>
                                    </div>
                                    <div class="w3-third">
                                        <input class="w3-radio" type="radio" value="#000000" ng-model="grphCtrl.lineColor">
                                        <label class="w3-validate">Black</label>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <form>
                                <div class="w3-row">
                                    <div class="w3-half">
                                        <input class="w3-radio" type="radio" value="0" ng-model="grphCtrl.lineDash" checked>
                                        <label class="w3-validate">Solid Line</label>
                                    </div>
                                    <div class="w3-half">
                                        <input class="w3-radio" type="radio" value="4" ng-model="grphCtrl.lineDash">
                                        <label class="w3-validate">Dashed Line</label>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <p class="w3-center w3-text-grey w3-small"><em>Style applies to next function graphed.</em></p>
                        </div>
                    </div>
                </div>

                <!--MIDDLE-->
                <div class="w3-third">
                    <h2 class="w3-lobster w3-pink w3-padding-left w3-large">Graph it</h2>
                    <!-- ADD AXIS -->
                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left w3-theme-d2" ng-click="grphCtrl.showDiv.axis = !grphCtrl.showDiv.axis"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.axis"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.axis"></i> Axis </h4>
                        <div class="w3-padding" id="boxPlot" ng-show="grphCtrl.showDiv.axis">
                            <div class="row">
                                <form>
                                    <div class="w3-row">
                                        <div class="w3-third">
                                            <input class="w3-radio" type="radio" value="x" ng-model="grphCtrl.axisXY" checked>
                                            <label class="w3-validate">X</label>
                                        </div>
                                        <div class="w3-third">
                                            <input class="w3-radio" type="radio" value="y" ng-model="grphCtrl.axisXY">
                                            <label class="w3-validate">Y</label>
                                        </div>
                                        <div class="w3-third"><em>minorTicks</em> <input type="text" ng-model="grphCtrl.minorTicks" size="3"> </div>
                                    </div>
                                </form>
                            </div>
                            
                            <button class="w3-btn-block w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('axis', grphCtrl.axisXY)">Add Label</button>
                        </div>
                    </div>

                    <!--Label -->

                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left w3-theme-d2" ng-click="grphCtrl.showDiv.label = !grphCtrl.showDiv.label"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.label"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.label"></i> Label </h4>
                        <div class="w3-padding" id="boxPlot" ng-show="grphCtrl.showDiv.label">
                            <div class="row">
                                <div class=""> <em>X</em> <input type="text" ng-model="grphCtrl.labelX" size="3"> | <em>Y </em> <input type="text" ng-model="grphCtrl.labelY" size="3">
                                
                                   Text Size <select ng-model="grphCtrl.labelSize">
                                      <option value="Small">Small</option>
                                      <option value="Medium">Medium</option>
                                      <option value="Large">Large</option>
                                    </select> 
                                </div>
                                <br />

                                <div class=""><em>Label Text</em> <input type="text" ng-model="grphCtrl.labelText" size="15"> </div>

                            </div>
                            <div class="row">
                                <form>
                                    <div class="w3-row">
                                        <div class="w3-third">
                                            <input class="w3-radio" type="radio" value="greenText" ng-model="grphCtrl.labelStyle" checked>
                                            <label class="w3-validate greenTextSmall">Green</label>
                                        </div>
                                        <div class="w3-third">
                                            <input class="w3-radio" type="radio" value="purpleText" ng-model="grphCtrl.labelStyle">
                                            <label class="w3-validate purpleTextSmall">Purple</label>
                                        </div>
                                        <div class="w3-third">
                                            <input class="w3-radio" type="radio" value="blackText" ng-model="grphCtrl.labelStyle">
                                            <label class="w3-validate blackTextSmall">Black</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="w3-btn-block w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('label', grphCtrl.labelText)">Add Label</button>
                        </div>
                    </div>


                    <!--Box and Whiskers-->
                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left w3-theme-d2" ng-click="grphCtrl.showDiv.boxy = !grphCtrl.showDiv.boxy"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.boxy"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.boxy"></i> Box Plot </h4>
                        <div class="w3-padding" id="boxPlot" ng-show="grphCtrl.showDiv.boxy">


                            <div class="row">
                                <h3>Box Plot</h3>

                                <div class=""><input type="text" ng-model="grphCtrl.boxPlotMin" size="4"> <em>Minimum</em> </div>
                                <div class=""><input type="text" ng-model="grphCtrl.boxPlotQ1" size="4"> <em>Q<sub>1</sub></em> </div>
                                <div class=""><input type="text" ng-model="grphCtrl.boxPlotMed" size="4"> <em>Median</em> </div>
                                <div class=""> <input type="text" ng-model="grphCtrl.boxPlotQ3" size="4"> <em>Q<sub>3</sub></em></div>
                                <div class=""> <input type="text" ng-model="grphCtrl.boxPlotMax" size="4"> <em>Maximum</em></div>
                                <h4 ng-click="grphCtrl.showBoxPlotOutliers = !grphCtrl.showBoxPlotOutliers">Show/Hide Outliers</h4>
                                <div ng-show="grphCtrl.showBoxPlotOutliers">
                                    <div class=""><input type="text" ng-model="grphCtrl.boxPlotMinOutliers" size="4"> <em>Minimum Outliers (enter multiple numbers as comma-separate list)</em> </div>
                                    <div class=""> <input type="text" ng-model="grphCtrl.boxPlotMaxOutliers" size="4"> <em>Maximum Outliers (enter multiple numbers as comma-separate list)</em></div>
                                </div>
                                <div class=""> <input type="text" ng-model="grphCtrl.boxPlotHeight" size="4"> <em>Box Height</em> (under construction)</div>
                                <div class=""><input type="text" ng-model="grphCtrl.boxPlotOffset" size="4"> <em>Box Offset</em> </div>
                                <div>
                                    <h3>Include Axis?</h3>
                                    <div class="w3-third">
                                        <input class="w3-radio" checked type="radio" value="true" ng-model="grphCtrl.boxPlotAxis">
                                        <label class="w3-validate ">Yes</label>
                                    </div>
                                    <div class="w3-third">
                                        <input class="w3-radio" type="radio" value="blackText" ng-model="grphCtrl.boxPlotAxis">
                                        <label class="w3-validate ">No</label>
                                    </div>
                                </div>
                            </div>
                            <button class="w3-btn-block w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('boxPlot')">Build Boxplot Board</button>
                        </div>
                    </div>

                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left w3-theme-d2" ng-click="grphCtrl.showDiv.doty = !grphCtrl.showDiv.doty"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.doty"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.doty"></i> Dot Plot </h4>
                        <div class="w3-padding" ng-show="grphCtrl.showDiv.doty">

                            <h3>Dot Plot</h3>
                            <div class=""><em>DotPlot Min</em> <input type="text" ng-model="grphCtrl.dotPlotMin" size="4"> </div>
                            <!--<div class=""><em>DotPlot Max</em> <input type="text" ng-model="grphCtrl.dotPlotMax" size="4"> </div>-->
                            <div class=""><em>DotPlot Data</em><br />
                                <input type="text" ng-model="grphCtrl.dotPlotData" size="20"> </div>
                            <button class="w3-btn-block w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('dotPlot')">Build DotPlot</button>


                        </div>
                    </div>



                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left  w3-theme-d2" ng-click="grphCtrl.showDiv.histy = !grphCtrl.showDiv.histy"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.histy"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.histy"></i> Histogram </h4>
                        <div class="w3-padding" ng-show="grphCtrl.showDiv.histy">
                            <div class="">
                                <h3>Histogram</h3>

                                <p>Histogram Data</p>
                                <input type="text" ng-model="grphCtrl.barChartData" size="20"> </div>
                            <button class="w3-btn-block w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('barChart')">Build Histogram</button>
                        </div>
                    </div>



                    <!--Function/Point-->

                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left w3-theme-d2" ng-click="grphCtrl.showDiv.function = !grphCtrl.showDiv.function"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.function"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.function"></i> Function or Point </h4>
                        <div class="w3-padding" ng-show="grphCtrl.showDiv.function">
                            <form>
                                <p><strong>y = </strong>
                                    <textarea rows="1" style="width:85%" ng-model="grphCtrl.functionForGraph">val * 2</textarea><br /> <button class="w3-btn-block w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('function', grphCtrl.functionForGraph)">Add Function to Graph</button>

                            </form>
                            <div class="w3-row w3-center">
                                <div class="w3-quarter w3-container"></div>
                                <div class="w3-quarter"><em>x</em><br><input type="text" ng-model="grphCtrl.newPointX" size="4"></div>
                                <div class="w3-quarter"><em>y</em><br><input type="text" ng-model="grphCtrl.newPointY" size="4"></div>
                                <div class="w3-quarter w3-container"></div>



                            </div>
                            <div>
                                <h4>Show Point Label?</h4>
                                <div class="w3-third">
                                    <input class="w3-radio" type="radio" value="true" ng-model="grphCtrl.showPointLabel" checked>

                                    <label class="w3-validate ">Yes</label>
                                </div>
                                <div class="w3-third">
                                    <input class="w3-radio" type="radio" value="false" ng-model="grphCtrl.showPointLabel">
                                    <label class="w3-validate ">No</label>
                                </div>
                            </div>


                            <button class="w3-btn-block w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('point')">Add Point to Graph</button>
                        </div>
                    </div>

                    <!--Points to Lines-->
                    <div class="w3-card-2 w3-white w3-round">
                        <h4 class="w3-padding-left w3-theme-d2" ng-click="grphCtrl.showDiv.inequality = !grphCtrl.showDiv.inequality"><i class="fa fa-caret-down" ng-hide="grphCtrl.showDiv.inequality"></i><i class="fa fa-caret-up" ng-show="grphCtrl.showDiv.inequality"></i> Line/Inequality with Points/Vert. Line Test </h4>
                        <div class="w3-padding" ng-show="grphCtrl.showDiv.inequality">
                            <div class="row">
                                <div class="w3-quarter"><em>x1</em><br><input type="text" ng-model="grphCtrl.x1" size="4"></div>
                                <div class="w3-quarter"><em>y1</em><br><input type="text" ng-model="grphCtrl.y1" size="4"></div>
                                <div class="w3-quarter"><em>x2</em><br><input type="text" ng-model="grphCtrl.x2" size="4"></div>
                                <div class="w3-quarter"><em>y2</em><br><input type="text" ng-model="grphCtrl.y2" size="4"></div>
                            </div>
                            <button class="w3-btn  w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('line')">Graph Line</button>
                            <button class="w3-btn  w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('inequality', true)">Greater Than</button>
                            <button class="w3-btn  w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.cb('inequality', false)">Less Than</button>

                            <!--Vertical Line-->
                            <button class="w3-btn-block  w3-light-grey w3-round w3-hover-pink w3-margin-bottom" ng-click="grphCtrl.initializeBoard('verticalLineTest')">Add vertical line test</button>
                        </div>
                    </div>



                </div>


                <!--RIGHT-->

                <div class="w3-third">

                    <h2 class="w3-lobster w3-pink w3-padding-left w3-large" ng-show="false">Grab it</h2>
                    <!--Canvas-->
                    <div class="w3-card-2 w3-white w3-round" ng-show="true">
                        <h4 class="w3-padding-left w3-theme-d2"><i class="fa fa-line-chart"></i> The Graph</h4>
                        <div class="w3-padding w3-center">

                            <fancy-view graph-object="grphCtrl.graphObject"></fancy-view>

                            <div>
                                <h3>History</h3>
                                <ul>
                                    <li ng-repeat="object in grphCtrl.graphObject.content track by $index" ng-click="grphCtrl.deleteObject($index)">{{object.type}}: {{object.data.function}}{{object.data.text}}{{object.data.points}}</li>
                                </ul>


                            </div>



                        </div>
                    </div>


                </div>
            </div>
            <div class="w3-row w3-center">
               <pre>{{grphCtrl.graphObject}}</pre>
               <form><textarea type="text" ng-model="grphCtrl.textObject" rows="20" cols="100"></textarea>
                <br />
               <button ng-click="grphCtrl.setGraphObject(grphCtrl.textObject)">Build Graph from Text</button>
                </form>
            </div>
            <!--Bottom Notes-->
            <div class="w3-row w3-center">
                <img src="img/fancygrafGREY.png" style="width:7%" class="w3-center logo" /><br>
                <p class="w3-text-grey w3-small">Another fine Innovation Team product</p>
            </div>
        </div>
    </div>

    <script>
        function w3_open() {
            document.getElementById("myDropnav").style.display = "block";
        }

        function w3_close() {
            document.getElementById("myDropnav").style.display = "none";
        }

        function w3_start() {
            document.getElementById("loading").style.display = "none";
        }

        function w3_restart() {
            document.getElementById("loading").style.display = "block";
        }
    </script>

</body>


</html>